:root {
  /* nuxt ui vars */
  --color-red-200: oklch(88.5% .062 18.334);
  --color-red-500: oklch(63.7% .237 25.331);
  --ui-color-primary-50: oklch(97.1% 0.013 17.38);
  --ui-color-primary-100: oklch(93.6% 0.032 17.717);
  --ui-color-primary-200: oklch(88.5% 0.062 18.334);
  --ui-color-primary-300: oklch(80.8% 0.114 19.571);
  --ui-color-primary-400: oklch(70.4% 0.191 22.216);
  --ui-color-primary-500: oklch(63.7% 0.237 25.331);
  --ui-color-primary-600: oklch(57.7% 0.245 27.325);
  --ui-color-primary-700: oklch(50.5% 0.213 27.518);
  --ui-color-primary-800: oklch(44.4% 0.177 26.899);
  --ui-color-primary-900: oklch(39.6% 0.141 25.723);
  /* custom vars */
  --custom-tip-border: rgba(173, 173, 173, 0.3);
  /* vitepress vars */
  --vp-c-brand-1: var(--ui-color-primary-500);
  --vp-c-brand-3: var(--ui-color-primary-400);
  --vp-c-brand-2: var(--ui-color-primary-300);
  --vp-c-brand-soft: rgba(251, 44, 54, 0.15);
  --vp-c-brand-soft-50: rgba(251, 44, 54, 0.5);
}

/* Hero title size customization */
.VPHero .name {
  font-size: 2.25rem !important;
  font-weight: 600 !important;  
  line-height: 1.2 !important;
}

/* Hero text (subtitle) */
.VPHero .text {
  font-size: 2.25rem !important;
  font-weight: 600 !important;  
  line-height: 1.1 !important;
}

/* Hero tagline */
.VPHero .tagline {
  margin-top: 0 !important;
  font-size: 1.25rem !important;
  font-weight: 500 !important;
}

.VPImage {
    max-width: 300px !important;
    border-radius: 32px !important;
}

/* Navbar logo size */
.VPNavBarTitle .logo {
    height: 26px !important;
    width: auto !important;
    border-radius: 0 !important;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .VPHero .name {
    font-size: 40px !important;
  }
  .VPHero .text {
    font-size: 32px !important;
  }
  .VPHero .tagline {
    font-size: 18px !important;
  }
}

a[href="https://kodzero.pro/"].VPNavBarMenuLink {
  font-weight: 600 !important;
  /* color: red !important; */
}

.VPLastUpdated {
  opacity: 0.7 !important;
  font-weight: 400 !important ;
}

/* :root {
} */

.vp-doc h1 { /* vs defaults */
  font-size: 1.75rem;
  margin-bottom: 2rem; /* 0 */
}

.vp-doc h2 { /* vs defaults */
  margin-top: 4rem; /* 3rem */
  padding-top: 2rem; /* 24px */
  padding-bottom: 0.75rem; /* 0 */
  font-size: 1.35rem; /* 24px */
}

.vp-doc h3 {
  /* unknown */
  font-size: 1.2rem;
  /* 32px */
  margin-top: 2.5rem;
  /* 0 */
  padding-top: 0; 
  /* 0 */
  padding-bottom: 0.5rem;
}

/* custom blocks */
div.custom-block {
  margin-top: 2rem !important;
}

/* Tip block: border only, no background */
div.custom-block.tip {
  background-color: transparent !important;
  border: 1px solid var(--custom-tip-border) !important;
}

div.custom-block.tip .custom-block-title {
  color: var(--vp-c-text) !important;
}

div.custom-block.danger .custom-block-title {
  color: var(--vp-c-brand-3) !important;
}

/* Dark mode adjustment */
.dark {
  /* custom vars */
  --custom-border: rgb(26, 35, 58);
  --custom-tip-border: var(--custom-border);
  /* vitepress vars */
  --vp-c-brand-1: var(--ui-color-primary-400);
  --vp-c-brand-3: var(--ui-color-primary-300);
  --vp-c-brand-2: var(--ui-color-primary-200);
  --vp-c-default-soft: rgba(1, 7, 23, 0.15);
  --vp-c-brand-soft: rgba(251, 44, 54, 0.35);
  --vp-c-brand-soft-50: rgba(251, 44, 54, 0.7);
  --vp-c-bg: rgb(15, 23, 43);
  --vp-c-bg-alt: rgb(13, 20, 39);
  --vp-c-bg-soft: rgb(12, 20, 36);
  --vp-button-alt-bg: unset !important;
  --vp-c-divider: var(--vp-c-bg-alt);
  --vp-c-bg-elv: var(--vp-c-bg-alt);
  --vp-c-gutter: var(--custom-border); /* used in navbar's border-bottom */
  --vp-custom-block-info-bg: rgb(21, 29, 49);
  --vp-local-search-bg: var(--vp-c-bg-soft);
  --vp-local-search-result-border: var(--custom-border); 
}

.dark .VPLastUpdated {
  color: #92b0c5 !important;
}

.dark .VPSwitch {
  border-color: var(--custom-border);
}

.dark .VPButton.alt {
  background-color: var(--vp-cp-bg) !important;
  border: 1px solid var(--vp-c-brand-2) !important;
}

.dark .VPButton.alt:hover {
  background-color: var(--vp-c-bg-alt) !important;
}

.dark .pager-link {
  border-color: var(--custom-border);
}